.u-section-1 {
  background-image: url("images/ghh-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 239px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Alata;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  width: 772px;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 84px;
  min-height: 16px;
  width: 366px;
  min-width: 94px;
  margin: 39px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    margin-right: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}